@media (min-width: $desktopBreakPoint) {
    .rev-editor {

        &__title {
            font-size: 54px;
            line-height: 54px;
            margin-bottom: 35px;
        }
    }

    .what-you-get {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: $desktopBgColor;
        margin-top: 70px;
        padding-top: 98px;
        padding-right: 0;

        &__title {
            display: none;
        }

        &__item {
            margin-bottom: 0px;
        }

        &__icon {
            margin-bottom: 35px;
        }

        &__img-tablet {
            display: none;
        }

        &__desktop {
            display: flex;
            flex-direction: column;
            min-width: 700px;

            &__title {
                margin-top: 0px;
                margin-bottom: 19px;
                font-size: 48px;
                line-height: 50px;
                color: #8D81AC;
            }
        }
    }

    .subscription-pricing {
       
        &__title {
            font-size: 48px;
            line-height: 50px;
            margin-bottom: 112px;
        }

        &__content-wrapper {
            display: grid;
            margin: 0 auto;
            grid-template-columns: repeat(4, 1fr);
            width: 1150px;
        }

        &__content {
            width: 257px;
            max-height: 520px;
            margin-bottom: 100px;

            &__price {
                line-height: 90px;
                margin-bottom: 20px;
            }

            &__license {
                line-height: 28px;
            }

            &__additional {
                line-height: 28px;
            }
        }
    }

    .active-pricing {
        width: 299px;
        max-height: 600px;
        position: relative;
        left: 0px;

        &__price {
            line-height: 90px;
        }
    }
}