@mixin titleFont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

@mixin subTitleFont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@mixin textFont {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

@mixin buttonsDescr {
    display: inline-block;
    height: 100%;
    padding: 5px 7px;
}