@media (min-width: $tabletBreakPoint) {
    .rev-editor {

        &__title {
            font-size: 42px;
            line-height: 42px;
            margin-bottom: 33px;
        }

        &__content {
            font-size: 21px;
            line-height: 32px;
        }
    }

    .what-you-get {

        &__title {
            margin-top: 150px;
            margin-bottom: 50px;
            font-size: 42px;
            line-height: 44px;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
        }

        &__icon {
            margin-left: 10px;
            min-width: 100px;
        }

        &__description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 40px;

        }

        &__subtitle {
            line-height: 21px;
            margin-bottom: 14px;
        }

        &__text {
            text-align: start;
            margin-bottom: 40px;
        }

        &__img-mobile {
            display: none;
        }

        &__img-tablet {
            display: block;
            margin-top: 25px;
        }
    }

    .subscription-pricing {
        position: relative;

        &__title {
            font-size: 42px;
            line-height: 44px;
            margin-bottom: 39px;
        }

        &__content-wrapper {
            display: grid;
            margin: 0 auto;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            grid-column-gap: 0;
            width: 550px;
            margin-bottom: 200px;
        }

        &__content {
            width: 257px;
            max-height: 520px;
            margin-bottom: 71px;

            &__price {
                line-height: 90px;
                margin-bottom: 20px;
            }

            &__license {
                line-height: 28px;
            }

            &__additional {
                line-height: 28px;
            }
        }
    }

    .active-pricing {
        width: 299px;
        max-height: 600px;
        position: relative;
        left: -20px;
        top: -40px;

        &__price {
            line-height: 90px;
        }
    }
}
