@import "reset";
@import "vars_AK";
@import "mixins_AK";

.rev-editor {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__title {
        @include titleFont;
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 27px;
        text-transform: uppercase;
        color: #635C73;
        text-align: center;
    }

    &__content {
        @include textFont;
        margin-bottom: 36px;
        padding: 0 10px;
        font-size: $textMainFontSize;
        line-height: 20px;
        color: $subTitleFontColor;
        text-align: center;
    }

    &__btns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__btn {
        @include titleFont;
        font-size: 12px;
        display: inline-block;
        border: solid 1px #8D81AC;
        border-radius: 3px;
        margin-right: 10px;
        margin-bottom: 20px;
        cursor: pointer;

        &__left {
            @include buttonsDescr;
            @include titleFont;
            font-size: 12px;
            background: linear-gradient(#FFFFFF, #E5E5E5);
            background-color: #E5E5E5;
            border-right: solid 1px #8D81AC;
        }

        &__right {
            @include buttonsDescr;
        }

    }
}

.far,
.fas {
    margin: 0 2px;
}

.what-you-get {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__title {
        margin-top: 100px;
        margin-bottom: 36px;
        @include titleFont;
        font-size: 32px;
        line-height: 38px;
        color: #8D81AC;
        text-align: center;
    }

    &__icon {
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    &__subtitle {
        @include subTitleFont;
        font-size: 16px;
        line-height: 16px;
        color: $subTitleFontColor;
        margin-bottom: 14px;
        text-align: center
    }

    &__text {
        @include textFont;
        font-size: $textMainFontSize;
        line-height: 21px;
        color: #848E97;
        text-align: center;
        margin-bottom: 40px;
    }

    &__img-mobile {
        margin-top: 25px;
        width: 100%;
    }

    &__img-tablet {
        display: none;
    }

    &__desktop {
        display: none;
    }
}

.subscription-pricing {
    background-image: url("../img/base\ 3.jpg");
    position: relative;

    &__title {
        @include titleFont;
        font-size: 28px;
        line-height: 42px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 32px;
    }

    &__content-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    &__content {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.11);
        width: 257px;
        margin: 0 auto;
        align-items: center;
        justify-content: stretch;
        margin-bottom: 18px;

        &__subtitle-wrapper {
            background-color: rgba(255, 255, 255, 0.06);
            width: 257px;
            height: 97px;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        &__subtitle {
            @include subTitleFont;
            font-size: 24px;
            line-height: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: center;
            padding-top: 36px;
        }

        &__price {
            @include titleFont;
            font-size: 60px;
            line-height: 62px;
            color: #FFFFFF;
            margin-bottom: 20px;
        }

        &__per-month {
            @include subTitleFont;
            text-transform: uppercase;
            color: #FFFFFF;
            font-size: $textMainFontSize;
            line-height: 16px;
            text-align: center;
            margin-bottom: 38px;
        }

        &__description {
            position: relative
        }

        &__license {
            @include subTitleFont;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
            margin-top: 30px;
        }

        &__additional {
            @include subTitleFont;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
            margin-top: 15px;
            position: absolute;
            right: 20px;
            top: 50px;
        }

        &__button {
            margin-top: 68px;
            margin-bottom: 67px;
            width: 163px;
            height: 45px;
            background-color: rgba(255, 255, 255, 0.15);
            outline: none;
            border: transparent;
            border-radius: 30px;
            color: #FFFFFF;
            @include subTitleFont;
            text-transform: uppercase;
            font-size: 15px;
            line-height: 15px;
            cursor: pointer;
        }
    }
}

.active-pricing {
    width: 299px;
    background-color: rgba(70, 48, 72, 0.84);

    &__subtitle-wrapper {
        background-color: rgba(0, 0, 0, 0.11);
        width: 299px;
        height: 111px;
        margin-bottom: 14px;
    }

    &__price {
        font-size: 82px;
        line-height: 84px;
    }

    &__per-month {
        margin-bottom: 46px;
    }

    &__license {
        margin-top: 40px;
        margin-bottom: 51px;
    }

    &__additional {
        position: absolute;
        top: 55px;
    }

}

@import "tabletStyles_AK";
@import "desktopStyles_AK";

@media (min-width: $maxWidth) {
    main {
        width: 1200px;
        margin: 0 auto;
    }
}